:root {
  --navBlue: #0b4f6c;
  --mainWhite: #fff;
  --mainDarkBlue: #3f51b5;
}
body {
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lekton", sans-serif;
}
.container {
  min-height: 100%;
}
.ml-auto {
  margin-left: auto;
}
.App {
  text-align: center;
}
.navBar {
  background-color: var(--navBlue);
  padding: 0.5rem;
}
.navBar-content {
  display: flex;
  width: 90%;
  margin: auto;
}
.span-content {
  margin-top: 150px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.survey-form {
  width: 70%;
  margin: auto;
  padding: 0 0.5rem 0 0.2rem;
  border: 1.6px solid #198000;
  border-radius: 6px;
  overflow: hidden;
}
#survey-name {
  width: 80%;
  outline: none;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
}
.btn {
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn:hover {
  background-color: #aaa8b3;
}
.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
}
.footer p {
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}
.center {
  width: 100%;
  margin-top: 3rem;
}
.center input[type="button"] {
  display: block;
  margin: auto;
}
#pollinglistbtn,
#informationbtn {
  background-color: var(--navBlue);
  font-size: 1.5rem;
  color: #fff;
}
#pollinglistbtn:hover,
#informationbtn:hover {
  background-color: #aaa8b3;
}

.live-navbar-logo {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  margin-left: 0.8rem;
}

#live-poll-heading {
  display: flex;
  margin: 1rem auto;
}
#live-poll-heading span {
  display: block;
  margin: auto;
  font-size: 2rem;
  color: var(--navBlue);
}

.poll {
  margin: 1rem;
}
.poll input[type="button"] {
  padding: 1rem 5rem;
  border: none;
  border-radius: 0.18rem;
  background: teal;
  color: var(--mainWhite);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.enterbtn input[type="button"] {
  background: var(--mainWhite);
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  outline: none;
}
.enterbtn input[type="button"]:hover {
  background: #aaa8b3;
  color: black;
}

.poll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.align-center {
  width: 100%;
  margin: auto;
}
.res-chart-container {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .survey-form {
    width: 90%;
  }
  .live-navbar-logo {
    margin-left: 0;
  }
  .chart-container {
    flex-direction: column;
  }
  .res-chart-container {
    width: 80%;
  }
}
